#barChart rect:hover{
	fill: orange;
}


#scatterPlot circle{
	fill: blue;
}

#scatterPlot circle:hover{
	fill: orange;
}

#d3-container {
    /*margin-top: 20%;*/
    /*margin-bottom: 20%;*/
    margin-right: 5%;
    margin-left: 5%;
    /*padding-left:5%;*/
    /*padding-right:5%;*/
    /*border-left:5%;*/
    /*border-right:5%;*/
}
