<body>
  <!-- {{> tilesMap}} -->
  {{> barChart}}
  {{> scatterPlot}}
</body>

<body>
  <div class="container">
    <header>
      <h1>Todo List ({{incompleteCount}})</h1>
 
      <label class="hide-completed">
        <input type="checkbox" />
        Hide Completed Tasks
      </label>

      <form class="new-task">
        <input type="text" name="text" placeholder="Type to add new tasks" />
      </form>
    </header>

     <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
  

    <header>
      <h1>Zeropoints ({{ccdCount}}) / ({{barsCount}})</h1>

    </header>

    <!-- <header>
      <h1>D3 plots </h1>
    </header>
    {{> barChart}}
    {{> pieChart}}
    {{> scatterPlot}}
    {{> lineChart}}
    <hr>
    <h3>Alternative Implmentation</h3>
    {{> scatterPlotObserve}} -->

    </div>
</body>