<template name="barChart">
	<div id="d3-container">
		<h4>Bar Chart - <small><a href="http://chimera.labs.oreilly.com/books/1230000000345/ch09.html#_add_and_remove_combo_platter">View Original</a></small></h4>
	    <svg id="barChart">
	    </svg>
	    <input type="button" id="add" value="Add a Value" />
	    <input type="button" id="remove" value="Remove a Value" />
	    <input type="button" id="randomize" value="Randomize Values" />
	    <input type="button" id="toggleSort" value="Toggle Sorting" />
    </div>
</template>