#scatterPlot{
	.axis path,
	.axis line {
		fill: none;
		stroke: black;
		shape-rendering: crispEdges;
	}
	
	.axis text {
		font-family: sans-serif;
		font-size: 11px;
	}
}

#barChart{
    rect:hover {
        fill: orange;
    }
    rect {
    	fill: orange;
    }
}
