<template name="scatterPlot">
	<div id="d3-container">
		<h4>Scatter Plot - <small><a href="http://chimera.labs.oreilly.com/books/1230000000345/ch09.html#_updating_axes">View Original</a></small></h4>
	    <svg id="scatterPlot">
	    </svg>
	    <input type="button" id="add" value="Add a Value" />
	    <input type="button" id="remove" value="Remove a Value" />
	    <input type="button" id="randomize" value="Randomize Values" />
	</div>
</template>