<template name="name">
	<div id="d3-container">
		<h4>Name Here</h4>
	    <svg id="name">
	    </svg>
	    <input type="button" id="add" value="Add a Value" />
	    <input type="button" id="remove" value="Remove a Value" />
	    <input type="button" id="randomize" value="Randomize Values" />
	    <input type="button" id="toggleSort" value="Toggle Sorting" />
    </div>
</template>