<head>
	<script src="//d3js.org/d3.geo.projection.v0.min.js"></script>
	<script src="//d3js.org/topojson.v1.min.js"></script>
</head>

<template name="tilesMap">
	<div id="d3-container">
		<h4>Name Here</h4>
	    <svg id="tilesMap">
	    </svg>
    </div>
</template>